.game {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.reset {
  padding: 5px;
}
